{extend name='common@user'/}

{block name='content'}
<style>
    .dpt {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .reg-table {
        padding: 10px;
        border: none;
    }
    .doctor-it {
        margin-bottom: 50px;
        padding: 10px;
    }
    .dr-detail {
        margin-top: 15%;
        margin-bottom: 10%;
        text-align: center
    }
    .dr-item {
        margin-bottom: 10px;
        border: 1px solid #eee;
        box-shadow: 2px 3px 5px #efefef;
    }

</style>

<div class="container">
    <div class="dpt dpt-selected">
        <div class="well">
            <h4><b>{$dpt.hospital}-{$dpt.dept}</b></h4></button>
            <hr>
            <div class="row ">
                <div class="col-lg-3 col-md-3 col-sm-4 hidden-xs hp-img">
                    <img src="/{$dpt['pic']}" alt="" width="100%">
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                    <div class="hp-intro">
                        <h4><a href="/hp/{$dpt.hospital_id}">{$dpt.hospital}</a></h4>
                        <p>{$dpt.description}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="table-responsive reg-table">
            <table class="table table-striped table-bordered table-hover" id="worktime-table">
                <thead>
                <tr>
                    <th class="center"></th>
                    {foreach name='dayszh' item='item' key='k'}
                    <th class="center" value="{$k}">{$item}<br>{$k}</th>
                    {/foreach}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="center">上午</td>
                    {for start='$daysnum+1' end='$daysnum+8'}
                    <td class="center" value="{$i%8+1}">
                        {if condition="isset($regnums[$i%8+1][1]) AND ($regnums[$i%8+1][1] != 0)"}
                        预约<br>
                        剩余：{$regnums[$i%8+1][1]}
                        {elseif condition="(isset($regnums[$i%8+1][1])) AND ($regnums[$i%8+1][1] == 0)"}
                        约满
                        {else /}
                        {/if}
                    </td>
                    {/for}
                </tr>
                <tr>
                    <td class="center">下午</td>
                    {for start='$daysnum+1' end='$daysnum+8'}
                    <td class="center" value="{$i%8+1}">
                        {if condition="isset($regnums[$i%8+1][2]) AND ($regnums[$i%8+1][2] != 0)"}
                        预约<br>
                        剩余：{$regnums[$i%8+1][2]}
                        {elseif condition="(isset($regnums[$i%8+1][2])) AND ($regnums[$i%8+1][2] == 0)"}
                        约满
                        {else /}
                        {/if}
                    </td>
                    {/for}
                </tr>
                <tr>
                    <td class="center">晚上</td>
                    {for start='$daysnum+1' end='$daysnum+8'}
                    <td class="center" value="{$i%8+1}">
                        {if condition="isset($regnums[$i%8+1][3]) AND ($regnums[$i%8+1][3] != 0)"}
                        预约<br>
                        剩余：{$regnums[$i%8+1][3]}
                        {elseif condition="(isset($regnums[$i%8+1][3])) AND ($regnums[$i%8+1][3] == 0)"}
                        约满
                        {else /}
                        {/if}
                    </td>
                    {/for}
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row doctor-it">
        <div class="col-xs-12" id="doctor-items">
            <!--<div class="row dr-item">-->
                <!--<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 dr-left">-->
                    <!--<div class="hp-img" style="float: left; margin: 20px; ">-->
                        <!--<img src="/static/images/doctor.jpg" style="height: 87px; max-height: 87px">-->
                    <!--</div>-->
                    <!--<div class="" style=" margin: 20px 0; overflow: hidden">-->
                        <!--<div class="dr-intro">-->
                            <!--<h4>凡耀栋 副主任医师</h4>-->
                            <!--<p style="color: #aaaaaa">副主任医师</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 dr-right">-->
                    <!--<div class="row dr-detail">-->
                        <!--<p class="col-lg-6 col-md-6 col-sm-6 col-xs-6">-->
                            <!--<span>医疗服务费：<b>￥200</b></span>-->
                            <!--<br>-->
                            <!--<span>剩余号：<b>12</b></span>-->
                        <!--</p>-->
                        <!--<p class="col-lg-6 col-md-6 col-sm-6 col-xs-6">-->
                            <!--<button class="btn btn-info btn-sm no-border">预约挂号</button>-->
                        <!--</p>-->
                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->

        </div>
    </div>

</div>

{/block}

{block name='script'}

<script>
    function reg(date, time, id) {
        $.ajax({
            url: '/smdpt/reg',
            type: 'post',
            data: {doctor_id: id, date: date, time: time},
            datatype: 'json',
            success: function (res) {
                if(res) {
                    alert('预约成功');
                    window.location.href='/user';
                }
                else {
                    alert('预约失败，请稍后再试');
                }
            }
        })

    }
</script>

<script type="text/javascript">
    jQuery(function($) {

        $("#worktime-table td").click(function(){

            window.tdSeq = $(this).attr('value');
            window.trSeq = $(this).parent().parent().find("tr").index($(this).parent()[0]);
            window.smdept = '{$dpt.dept_id}';
            $.ajax({
                url: '/smdpt/drdetail',
                type: 'get',
                data: {day: tdSeq, time: trSeq+1, smdept: smdept },
                dataType: 'json',
                success: function (res) {
                    $('#doctor-items').html('');
                    $.each(res, function (i) {
                        if(res[i].type == 1)
                            type = '主任医师';
                        else if(res[i].type == 2)
                            type = '副主任医师';
                        else
                            type = '普通医师';

                        if(res[i].regnum == 0)
                            disablebt = ' disabled ';
                        else
                            disablebt = '';
                        insert = '<div class="row dr-item">\n' +
                            '                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 dr-left">\n' +
                            '                    <div class="hp-img" style="float: left; margin: 20px; ">\n' +
                            '                        <img src="/static/images/doctor.jpg" style="height: 87px; max-height: 87px">\n' +
                            '                    </div>\n' +
                            '                    <div class="" style=" margin: 20px 0; overflow: hidden">\n' +
                            '                        <div class="dr-intro">\n' +
                            '                            <h4>'+res[i].drname+'  '+ type +'</h4>\n' +
                            '                            <p style="color: #aaaaaa">'+ res[i].resume +'</p>\n' +
                            '                        </div>\n' +
                            '                    </div>\n' +
                            '                </div>\n' +
                            '                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 dr-right">\n' +
                            '                    <div class="row dr-detail">\n' +
                            '                        <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6">\n' +
                            '                            <span>医疗服务费：<b>￥200</b></span>\n' +
                            '                            <br>\n' +
                            '                            <span>剩余号：<b>'+ res[i].regnum +'</b></span>\n' +
                            '                        </p>\n' +
                            '                        <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6">\n' +
                            '                            <button class="btn btn-info btn-sm no-border'+ disablebt +'" ' +
                            'onclick="reg(\''+ res[i].date + '\', ' + res[i].time + ',' + res[i].drid +')' +
                            '">预约挂号</button>\n' +
                            '                        </p>\n' +
                            '                    </div>\n' +
                            '\n' +
                            '                </div>\n' +
                            '            </div>'
                        $('#doctor-items').append(insert);
                    })

                },
                error: function () {
                    alert("出错了！");
                }
            })
        });
    })
</script>
{/block}
