{extend name='common@admin'/}

{block name='title'}添加医院{/block}

{block name='breadcrumb'}
<ul class="breadcrumb">
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="/admin/hospital">医院信息管理</a>
    </li>

    <li>
        <a href="/admin/hospital/insert">添加医院</a>
    </li>
</ul><!-- /.breadcrumb -->
{/block}

{block name='content'}
<div class="page-header">
    <h1>
        添加医院
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal style-form" method="post" enctype="multipart/form-data" action="/admin/hospital/insert">
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">登录名</label>
                <div class="col-sm-10">
                    <input name="loginname" type="text" class="form-control" required="required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">医院名称</label>
                <div class="col-sm-10">
                    <input name="name" type="text" class="form-control" required="required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <input name="password" type="text" class="form-control" required="required">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">描述</label>
                <div class="col-sm-10">
                    <textarea name="description" type="text" class="autosize-transition form-control" required="required"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <label class="col-sm-2 col-sm-2 control-label">图片</label>
                    <div class="col-sm-10">
                        <input name="pic" multiple="" type="file" id="id-input-file" />
                    </div>
                </div>
            </div>


            <button class="btn btn-info no-border">添加医院</button>
        </form>
    </div>
</div>


{/block}


{block name='specificscript'}

<!--[if lte IE 8]>
<script src="__STATIC__/assets/js/excanvas.js"></script>
<![endif]-->
<script src="__STATIC__/assets/js/jquery-ui.custom.js"></script>
<script src="__STATIC__/assets/js/jquery.ui.touch-punch.js"></script>
<script src="__STATIC__/assets/js/chosen.jquery.js"></script>
<script src="__STATIC__/assets/js/fuelux/fuelux.spinner.js"></script>
<script src="__STATIC__/assets/js/date-time/bootstrap-datepicker.js"></script>
<script src="__STATIC__/assets/js/date-time/bootstrap-timepicker.js"></script>
<script src="__STATIC__/assets/js/date-time/moment.js"></script>
<script src="__STATIC__/assets/js/date-time/daterangepicker.js"></script>
<script src="__STATIC__/assets/js/date-time/bootstrap-datetimepicker.js"></script>
<script src="__STATIC__/assets/js/bootstrap-colorpicker.js"></script>
<script src="__STATIC__/assets/js/jquery.knob.js"></script>
<script src="__STATIC__/assets/js/jquery.autosize.js"></script>
<script src="__STATIC__/assets/js/jquery.inputlimiter.1.3.1.js"></script>
<script src="__STATIC__/assets/js/jquery.maskedinput.js"></script>
<script src="__STATIC__/assets/js/bootstrap-tag.js"></script>

<!-- ace scripts -->
<script src="__STATIC__/assets/js/ace/elements.scroller.js"></script>
<script src="__STATIC__/assets/js/ace/elements.colorpicker.js"></script>
<script src="__STATIC__/assets/js/ace/elements.fileinput.js"></script>
<script src="__STATIC__/assets/js/ace/elements.typeahead.js"></script>
<script src="__STATIC__/assets/js/ace/elements.wysiwyg.js"></script>
<script src="__STATIC__/assets/js/ace/elements.spinner.js"></script>
<script src="__STATIC__/assets/js/ace/elements.treeview.js"></script>
<script src="__STATIC__/assets/js/ace/elements.wizard.js"></script>
<script src="__STATIC__/assets/js/ace/elements.aside.js"></script>
<script src="__STATIC__/assets/js/ace/ace.js"></script>
<script src="__STATIC__/assets/js/ace/ace.ajax-content.js"></script>
<script src="__STATIC__/assets/js/ace/ace.touch-drag.js"></script>
<script src="__STATIC__/assets/js/ace/ace.sidebar.js"></script>
<script src="__STATIC__/assets/js/ace/ace.sidebar-scroll-1.js"></script>
<script src="__STATIC__/assets/js/ace/ace.submenu-hover.js"></script>
<script src="__STATIC__/assets/js/ace/ace.widget-box.js"></script>
<script src="__STATIC__/assets/js/ace/ace.settings.js"></script>
<script src="__STATIC__/assets/js/ace/ace.settings-rtl.js"></script>
<script src="__STATIC__/assets/js/ace/ace.settings-skin.js"></script>
<script src="__STATIC__/assets/js/ace/ace.widget-on-reload.js"></script>
<script src="__STATIC__/assets/js/ace/ace.searchbox-autocomplete.js"></script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function($) {
        $('#id-input-file').ace_file_input({
            style:'well',
            btn_choose:'Drop image here or click to choose',
            btn_change:null,
            no_icon:'ace-icon fa fa fa-picture-o',
            whitelist_ext :["jpeg", "jpg", "png", "gif" , "bmp"],
            whitelist_mime :["image/jpg", "image/jpeg", "image/png", "image/gif", "image/bmp"],
            droppable:true,
            thumbnail:'small'//large | fit
            //,icon_remove:null//set null, to hide remove/reset button
            /**,before_change:function(files, dropped) {
						//Check an example below
						//or examples/file-upload.html
						return true;
					}*/
            /**,before_remove : function() {
						return true;
					}*/
            ,
            preview_error : function(filename, error_code) {
                //name of the file that failed
                //error_code values
                //1 = 'FILE_LOAD_FAILED',
                //2 = 'IMAGE_LOAD_FAILED',
                //3 = 'THUMBNAIL_FAILED'
                //alert(error_code);
            }

        }).on('change', function(){
            //console.log($(this).data('ace_input_files'));
            //console.log($(this).data('ace_input_method'));
        });
    });
</script>

{/block}



{block name='script'}
<script src="__STATIC__/assets/js/jquery.autosize.js"></script>
<script src="__STATIC__/assets/js/jquery.inputlimiter.1.3.1.js"></script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function($) {
        $('textarea[class*=autosize]').autosize({append: "\n"});
        $('textarea.limited').inputlimiter({
            remText: '%n character%s remaining...',
            limitText: 'max allowed : %n.'
        });
    });
</script>
{/block}