{extend name='common@admin'/}

{block name='title'}查看医院详细信息{/block}

{block name='breadcrumb'}
<ul class="breadcrumb">
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="/admin/hospital">医院信息管理</a>
    </li>

    <li>
        <a href="/admin/hospital/{$res['id']}">查看医院详细信息</a>
    </li>
</ul><!-- /.breadcrumb -->
{/block}

{block name='content'}


<div class="page-header">
    <h1>
        查看医院详细信息
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <div class="col-sm-4 col-sm-4">
            <span class="profile-picture">
                <img width="100%" src="/{$res['pic']}" alt="">
            </span>
            <hr>
        </div>
        <div class="col-sm-8 col-sm-8">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                    <div class="profile-info-name">登录名</div>
                    <div class="profile-info-value">
                        <span class="editable" id="username">{$res['loginname']}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 医院名称 </div>
                    <div class="profile-info-value">
                        <span class="editable" id="name">{$res['name']}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 描述 </div>
                    <div class="profile-info-value">
                        <span class="editable" id="description">{$res['description']}</span>
                    </div>
                </div>
            </div>
            <hr>
            <button type="button" onclick="window.location.href='/admin/hospital/modify/{$res[\'id\']}'"
                    class="btn btn-danger no-border">修改</button>
            <button type="button" onclick="window.location.href='/admin/hospital'"
                    class="btn btn-info no-border">返回医院信息概览</button>
        </div>
    </div>
</div>

{/block}