{extend name='common@doctor'/}

{block name='title'}排班管理{/block}

{block name='breadcrumb'}
<ul class="breadcrumb">
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="/doctor/worktime">排班管理</a>
    </li>

</ul><!-- /.breadcrumb -->
{/block}

{block name='content'}


<div class="page-header">
    <h1>
        排班查看
    </h1>
</div><!-- /.page-header -->



<div class="row">
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover" id="worktime-table">
                <thead>
                    <tr>
                        <th class="center"></th>
                        <th class="center">星期一</th>
                        <th class="center">星期二</th>
                        <th class="center">星期三</th>
                        <th class="center">星期四</th>
                        <th class="center">星期五</th>
                        <th class="center">星期六</th>
                        <th class="center">星期日</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="center">上午</td>
                    {for start='1' end='8'}
                    <td class="center">{$worktime[$i][1] ?? "空"}</td>
                    {/for}
                </tr>
                <tr>
                    <td class="center">下午</td>
                    {for start='1' end='8'}
                    <td class="center">{$worktime[$i][2] ?? "空"}</td>
                    {/for}
                </tr>
                <tr>
                    <td class="center">晚上</td>
                    {for start='1' end='8'}
                    <td class="center">{$worktime[$i][3] ?? "空"}</td>
                    {/for}
                </tr>
                </tbody>
            </table>

            点击对应的方格修改
        </div>
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="modify-warning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">警告</h4>
            </div>
            <form action="">
                <div class="modal-body" id="modify-worktime">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary no-border" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger no-border" onclick="modifyworktime()">确认修改</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    function modifyworktime() {
        $.ajax({
            url: '/doctor/worktime/modify',
            type: 'post',
            data: {day: tdSeq, time: trSeq+1, regnum: $("#regnum").val()},
            dataType: 'json',
            success: function(result) {
                if(result.valid == 1) {
                    window.location.reload();
                }
                else
                {
                    alert('修改失败，请稍后重试');
                    return false;
                }
            },
            error: function () {
                alert("出错了！");
            }
        });
    }
</script>

{/block}

{block name='specificscript'}

{/block}


{block name='script'}

<script>

</script>

<script type="text/javascript">
    jQuery(function($) {

        $("#worktime-table td").click(function(){
            window.tdSeq = $(this).parent().find("td").index($(this)[0]);
            window.trSeq = $(this).parent().parent().find("tr").index($(this).parent()[0]);
            document.getElementById("modify-worktime").innerHTML="将第" + (trSeq + 1) + "行，第" + (tdSeq) + "列修改为" +
                "<input type=\"text\" id=\"regnum\" required=\"required\">" + "0为不安排";

            $("#modify-warning").modal('show');
        });


    })
</script>
{/block}
